{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Корелационен анализ{% endblock %}
{% block header %}{{ item.platform_name }} > {{ item.course_name }}{% endblock %}

{% block header_desc %}
{{ item.platform_type}} @ <a href="{{ item.platform_url }}" target="_blank" class="text-white-50">
  {{ item.platform_url}}</a>
{% endblock %}

{% block content %}

<div class="container mt-n10">
  <div class="row">
    <div class="col-lg-9">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center">
          <a class="btn btn-transparent-dark btn-icon" href="{% url 'analysis_item' item.id %}">
            <i class="fas fa-arrow-left"></i>
          </a>
          <div class="ml-3">
            <h2 class="my-1">Корелационен анализ</h2>
          </div>
        </div>
        <div class="card-body">
          <h3 class="text-primary mt-3 mb-4">Корелационен анализ на данните за броя прегледани лекции</h3>
          <table id="correlationDT" class="table table-striped table-bordered table-responsive-sm rounded">
            <thead class="bg-white">
              <tr>
                <th>Коефициент на корелация</th>
                <th>Сила на зависимостта</th>
                <th>Посока на зависимостта</th>
              </tr>
            </thead>
          </table>
          <h3 class="text-primary mt-4 mb-4">Честотното разпределение на данните за броя прегледани лекции</h3>
          <div class="card shadow-none">
            <div class="card-header border-bottom">
              <ul class="nav nav-tabs card-header-tabs" id="cardTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="table-tab" href="#tableViewTab" data-toggle="tab" role="tab"
                    aria-controls="tableViewTab" aria-selected="true">Таблица</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="chart-tab" href="#chartViewTab" data-toggle="tab" role="tab"
                    aria-controls="chartViewTab" aria-selected="false">Диаграма</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="cardTabContent">
                <div class="tab-pane fade show active" id="tableViewTab" role="tabpanel" aria-labelledby="table-tab">
                  <table id="correlFreqDistDT" class="table table-striped table-bordered table-responsive-sm rounded"
                    style="width: 100%;" cellspacing="0">
                    <thead class="bg-white">
                      <tr>
                        <th>Студент</th>
                        <th>Оценка</th>
                        <th>Преглеждания</th>
                        <th>Относителна честота</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tab-pane fade" id="chartViewTab" role="tabpanel" aria-labelledby="chart-tab">
                  <div id="chartArea"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="nav-sticky">
        <div class="card">
          <div class="card-body">
            {% include 'frontend/sticky_nav.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block scripts %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script>
  // var table;

  function chartData(table) {
    let data = table.data().toArray();
    return data.map((val, key) => [val.result, val.view_count]);
  }

  $(document).ready(function () {
    let path = window.location.href;
    $("#stickyNavigator a.nav-link").each(function () {
      if (this.href === path) {
        $(this).addClass("active");
      }
    });

    var csrftoken = Cookies.get('csrftoken');

    $('#correlationDT').DataTable({
      // data: sample_data,
      ajax: {
        headers: { 'X-CSRFToken': csrftoken },
        url: "{% url 'api_correlation' %}",
        type: 'POST',
        data: { upload_id: '{{ item.id }}' },
        // converters: {"text json": JSON.parse, "text xml": jQuery.parseXML},
        // contentType: 'application/json; charset=UTF-8',
        // processData: false,
        dataType: 'json',
        dataSrc: '',
      },
      columns: [
        { "data": "quotient" },
        { "data": "dependency" },
        { "data": "direction" },
      ],
      "processing": false,
      "serverSide": false,
      "paging": false,
      "ordering": false,
      "info": false,
      "searching": false,
      "autoWidth": true,
    });

    let table = $('#correlFreqDistDT').DataTable({
      initComplete: function () {
        chart.series[0].setData(chartData(table));
      },
      ajax: {
        headers: { 'X-CSRFToken': csrftoken },
        url: "{% url 'api_corr_freq_dist' %}",
        type: 'POST',
        data: { upload_id: '{{ item.id }}' },
        dataType: 'json',
        dataSrc: '',
      },
      columns: [
        { "data": "id" },
        { "data": "result" },
        { "data": "view_count" },
        { "data": "result_rel_freq" },
      ],
      pageLength: 5,
      lengthMenu: [[5, 10, 15, 20, 25, 50, -1], [5, 10, 15, 20, 25, 50, "All"]],
      paging: true,
    });

    // On each draw, update the data in the chart
    table.on('draw', function () {
      // chart.series[0].setData(chartData(table));
      console.log("table redraw");
    });

    let chart = Highcharts.chart('chartArea', {
      chart: {
        type: 'scatter',
        zoomType: 'xy'
      },
      title: false,
      subtitle: false,
      xAxis: {
        title: {
          enabled: true,
          text: 'Оценка'
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
      },
      yAxis: {
        title: {
          text: 'Брой преглеждания'
        }
      },
      legend: false,
      plotOptions: {
        scatter: {
          marker: {
            radius: 5,
            states: {
              hover: {
                enabled: true,
                lineColor: 'rgb(100,100,100)'
              }
            }
          },
          states: {
            hover: {
              marker: {
                enabled: false
              }
            }
          },
          tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x} прегледа, {point.y} оценка'
          }
        }
      },
      series: [{
        name: 'Корелация',
        color: 'rgba(223, 83, 83, .5)',
      }],
    });

  });
</script>
{% endblock %}